:root {
  --primary: #e35b2b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 96%;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-marcellus);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 45px;
  letter-spacing: 0.1px;
}

p,
span {
  font-family: var(--font-manrope);
  letter-spacing: 0.1px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover,
button:hover {
  cursor: pointer;
}

.centerColumnContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maxTextContent {
  max-width: 760px;
}

.sectionSpacing {
  padding: 4rem 0;
}
.horizontalPadding {
  padding: 0 2rem;
}

header,
section {
  max-width: 100vw;
}
