.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: white;
}

.curveSvg {
  width: 100vw;
  height: 100%;
}

.gradientContainer {
  margin-top: -1px; /* Get around default margin applied by browser */
  background: linear-gradient(180deg, #1c1e2b 15%, #4e5467 100%);
  width: 100%;
  padding: 50px 2rem 65px 2rem;
}
