.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 2rem;
}

.lowVisionContent p,
.lowVisionContent button {
  font-size: 400%;
}

.subtitle {
  margin-top: 1rem;
}

.p {
  margin-top: 1rem;
}
